<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style>
  
  /* :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  } */

  /* h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  } */

 

 

  .toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #05080b;
    color: white;
    font-weight: 600;
  }

  .toolbar img {
    margin: 0 16px;
  }

  

 

  .content {
    display: flex;
    margin: 82px auto 32px;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
  }

 



 

  

  




  
  



 

  

 




  .terminal pre {
    font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
    color: white;
    padding: 0 1rem 1rem;
    margin: 0;
  }


  

  footer {
    margin-top: 8px;
    display: flex;
    align-items: center;
    line-height: 20px;
  }

  footer a {
    display: flex;
    align-items: center;
  }

  .github-star-badge {
    color: #24292e;
    display: flex;
    align-items: center;
    font-size: 12px;
    padding: 3px 10px;
    border: 1px solid rgba(27,31,35,.2);
    border-radius: 3px;
    background-image: linear-gradient(-180deg,#fafbfc,#eff3f6 90%);
    margin-left: 4px;
    font-weight: 600;
  }

  .github-star-badge:hover {
    background-image: linear-gradient(-180deg,#f0f3f6,#e6ebf1 90%);
    border-color: rgba(27,31,35,.35);
    background-position: -.5em;
  }

  .github-star-badge .material-icons {
    height: 16px;
    width: 16px;
    margin-right: 4px;
  }

  svg#clouds {
    position: fixed;
    bottom: -160px;
    left: -230px;
    z-index: -10;
    width: 1920px;
  }

  /* Responsive Styles */
  @media screen and (max-width: 767px) {
    .card-container > *:not(.circle-link) ,
    .terminal {
      width: 100%;
    }

    .card:not(.highlight-card) {
      height: 16px;
      margin: 8px 0;
    }

    

    svg#rocket-smoke {
      right: 120px;
      transform: rotate(-5deg);
    }
  }

  @media screen and (max-width: 575px) {
    svg#rocket-smoke {
      display: none;
      visibility: hidden;
    }
  }

  .positionz{
    margin-left: 89px;
    margin-top: 14px;
    max-width: 58%;
    height: auto;
  }
.pos-btn{
  margin-top: -284px;
  margin-left: 738px;}
  .card-spacing{
  float: left;
  width: 25%;
  padding: 40 150px;
  }
</style>

<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img style="margin-left:30px"
    width="100"
    alt="Angular Logo"
    src="./assets/images/logo.png"
  />
  <div style="margin-left:300px">
  <i style="color:white"class="fa fa-search"></i>
  <input style="margin-left:8px;border-radius: 20px;width:300px;"type="text" placeholder="Search Here ">
</div>
</div>
<div class="justify-content-between">
<div style="margin-top:90px;width:20rem;height:32rem"class="card-spacing card">
  <div style="margin-top:5px;margin-left:142px"class="justify-content-between">
  <button style=" border: 2px solid #f7402b;width:fit-content;"type="button" class=" btn ">-30%</button>

  <button style="width:fit-content;"type="button" class=" btn btn-danger">NEW</button>
</div>
  <div class="positionz bg-image hover-overlay ripple" data-mdb-ripple-color="light">
    <img
    src="./assets/images/product01.png"
      class="img-fluid"
    />
    <a href="#!">
      <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
    </a>
  </div>
  <div class="card-body">
    <h6 style="text-align:center;color:grey"class="card-title">CATEGORY</h6>
    <h6 style="text-align:center;color:black"class="card-title">PRODUCT NAME GOES HERE</h6>
    <div class="justify-content-between">
    <p style="text-align:center;color:rgb(240, 67, 67)"class="card-title"><b>$980.00</b></p>
    <p style="text-decoration:line-through;text-align:center;color:rgb(118, 106, 106)"class="card-title"><b>$990.00</b></p>
   
  </div>
  <hr>
<div style="margin-left: 97px;text-align: center;">
  <ngx-stars  [readonly]="true"[maxStars]="5" [size]="1" [initialStars]="4"></ngx-stars>
  
</div>

<button style="margin-left:89px;width:fit-content;"type="button" class=" btn btn-danger">Add to cart</button>

<!-- <a style="text-align: center;"href="#!" class="btn btn-danger">Add to cart</a> -->

   
  </div>
</div>

<div style="margin-top:90px;width:20rem;height:32rem"class="card-spacing card">
  <div style="margin-top:5px;margin-left:142px"class="justify-content-between">
  <button style=" border: 2px solid #f7402b;width:fit-content;"type="button" class=" btn ">-30%</button>

  <button style="width:fit-content;"type="button" class=" btn btn-danger">NEW</button>
</div>
  <div class="positionz bg-image hover-overlay ripple" data-mdb-ripple-color="light">
    <img
    src="./assets/images/product01.png"
      class="img-fluid"
    />
    <a href="#!">
      <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
    </a>
  </div>
  <div class="card-body">
    <h6 style="text-align:center;color:grey"class="card-title">CATEGORY</h6>
    <h6 style="text-align:center;color:black"class="card-title">PRODUCT NAME GOES HERE</h6>
    <div class="justify-content-between">
    <p style="text-align:center;color:rgb(240, 67, 67)"class="card-title"><b>$980.00</b></p>
    <p style="text-decoration:line-through;text-align:center;color:rgb(118, 106, 106)"class="card-title"><b>$990.00</b></p>
   
  </div>
  <hr>
<div style="margin-left: 97px;text-align: center;">
  <ngx-stars  [readonly]="true"[maxStars]="5" [size]="1" [initialStars]="4"></ngx-stars>
  
</div>

<button style="margin-left:89px;width:fit-content;"type="button" class=" btn btn-danger">Add to cart</button>

<!-- <a style="text-align: center;"href="#!" class="btn btn-danger">Add to cart</a> -->

   
  </div>
</div>

<div style="margin-top:90px;width:20rem;height:32rem"class="card-spacing card">
  <div style="margin-top:5px;margin-left:142px"class="justify-content-between">
  <button style=" border: 2px solid #f7402b;width:fit-content;"type="button" class=" btn ">-30%</button>

  <button style="width:fit-content;"type="button" class=" btn btn-danger">NEW</button>
</div>
  <div class="positionz bg-image hover-overlay ripple" data-mdb-ripple-color="light">
    <img
    src="./assets/images/product01.png"
      class="img-fluid"
    />
    <a href="#!">
      <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
    </a>
  </div>
  <div class="card-body">
    <h6 style="text-align:center;color:grey"class="card-title">CATEGORY</h6>
    <h6 style="text-align:center;color:black"class="card-title">PRODUCT NAME GOES HERE</h6>
    <div class="justify-content-between">
    <p style="text-align:center;color:rgb(240, 67, 67)"class="card-title"><b>$980.00</b></p>
    <p style="text-decoration:line-through;text-align:center;color:rgb(118, 106, 106)"class="card-title"><b>$990.00</b></p>
   
  </div>
  <hr>
<div style="margin-left: 97px;text-align: center;">
  <ngx-stars  [readonly]="true"[maxStars]="5" [size]="1" [initialStars]="4"></ngx-stars>
  
</div>

<button style="margin-left:89px;width:fit-content;"type="button" class=" btn btn-danger">Add to cart</button>

<!-- <a style="text-align: center;"href="#!" class="btn btn-danger">Add to cart</a> -->

   
  </div>
</div>
</div>
<!-- <div>
  <div class="card" style="margin-top: 543px;width: 20rem;height:20rem">
    <button type="button" class="pos-btn btn btn-danger">NEW</button>
    <img class="positionz card-img-top" src="./assets/images/product01.png" alt="Card image cap">
    <div class="card-body">
     
      <p style="color:grey;"class="card-text">CATEGORY</p>
      <h5 style="color:black">PRODUCT NAME GOES HERE</h5>
    </div>
  </div>
</div> -->






<router-outlet></router-outlet>
